.App {
    margin: 0 auto;
}

.titleTree {
    height: 40px;
    width: 400px;
    background: #1273EB;
    margin-left: 40px;
    line-height: 35px;
    font-weight: 600;
    color: white;
    padding-left: 10px;
}

.tree li {
    list-style: none;
    padding-left: 24px;
    background-size: 13px;
}

.openedRoot {
    background: url(assets/img/minus.png) no-repeat 0 50%;
}

.closedRoot {
    background: url(assets/img/plus.png) no-repeat 0 50%;
}

img {
    width: 13px;
    margin-right: 5px;
}
